@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&family=Klee+One&display=swap');
label{
    display: block;
    text-align: left;
    /* font-family: 'Courier New', Courier, monospace; */
}
#form-wrapper{
    position: relative;
    width: 100%;
    height: calc(100vh - 0px);
    display:flex;
    flex-direction: column;
}
#form-wrapper div{
    width: 100%;
}
#form{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 50px);
    background-color: #000000;
    overflow-y: auto;
    margin-top: 55px;
    /* background-image: url(../assets/bgTemplate/bg-header.svg); */
    background-size: cover;
    animation: formWrapperAni 1800ms;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
#form p{
    font-family: Klee One;
    margin: 20px 0px 50px;
    color: #fffdf8;
}

input{
    position: relative;
    padding-bottom: 5px;
    background-color:#f7eded00;
    font-family: Klee One;
    margin-top: -15px;
    border: none;
    text-align: center;
    min-width: 300px;
    color:rgb(194, 191, 191);
    border: 1px solid whitesmoke;
    border-right: 3px solid rgb(221, 221, 221);
}
input:hover{
    border-bottom:1px solid whitesmoke;
}
input::placeholder{
    color: white;
}


#formButton{
    padding: 8px;
    background-color: #ffffff;
    color: rgb(31, 31, 31);
    border: none;
    font-size:0.9rem;
    width: 70px;
    margin-top: 10px;
}
@media only screen and (max-width: 778px) {
    #form{
        width: 100%;
        animation: none;
    }
    #form-wrapper div{
        display: none;
    }
}

@keyframes formWrapperAni{
    0%{
        width: 0%;
        transform: scale(0.6);
    }
    20%{
        transform: scale(1);
    }
    100%{width: 100%;}
}
